<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.dyung.kim.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.dyung.kim.vo.EventVO" alias="event" />
		
		<typeAlias type="com.dyung.kim.vo.SchoolVO" alias="school"/>
		<typeAlias type="com.dyung.kim.vo.DepartVO" alias="depart"/>
		<typeAlias type="com.dyung.kim.vo.MemberVO" alias="member"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/noticeMapper.xml"/>
		<mapper resource="mapper/eventMapper.xml" />
		<mapper resource="mapper/noticeMapper.xml"/>
		<mapper resource="mapper/managerMapper.xml"/>
		<mapper resource="mapper/memberMapper.xml"/>

	</mappers>
</configuration>